In [14]:
import pandas as pd

In [15]:
# Cargar dataset
rutas_turisticas = pd.read_csv('data/rutas_turisticas.csv')
rutas_turisticas.head()

              ruta_nombre     tipo_ruta  longitud_km  duracion_hr  popularidad
0     Aruba Central - 1.9      Cultural         26.7          1.9          4.7
1       Nimble Peak - 3.2      Aventura         31.5          3.2          4.1
2  Composable Cloud - 6.1      Aventura         79.5          6.1          3.4
3       Nimble Peak - 4.7  Gastron√≥mica         45.2          4.7          4.5
4       Nimble Peak - 5.7     Hist√≥rica         74.2          5.7          3.2

In [16]:
rutas_turisticas['ruta_nombre'] = rutas_turisticas['ruta_nombre'].apply(lambda x: x.split(' - ')[0])
rutas_turisticas.head()

        ruta_nombre     tipo_ruta  longitud_km  duracion_hr  popularidad
0     Aruba Central      Cultural         26.7          1.9          4.7
1       Nimble Peak      Aventura         31.5          3.2          4.1
2  Composable Cloud      Aventura         79.5          6.1          3.4
3       Nimble Peak  Gastron√≥mica         45.2          4.7          4.5
4       Nimble Peak     Hist√≥rica         74.2          5.7          3.2

In [19]:
def filtrar_rutas(df_rutas):
    """
    Filtra el dataset de rutas tur√≠sticas seg√∫n las preferencias del usuario:
    tipo de ruta y rango de duraci√≥n.

    Par√°metros:
    - df_rutas: DataFrame con columnas ['nombre_ruta', 'tipo_ruta', 'duracion_hr', ...]

    Retorna:
    - Subconjunto del DataFrame que cumple con los criterios
    """
    tipos_disponibles = ['Aventura', 'Gastron√≥mica', 'Hist√≥rica', 'Cultural', 'Ecol√≥gica']

    # Paso 1: Pedir al usuario el tipo de ruta
    print("Tipos de ruta disponibles:")
    for tipo in tipos_disponibles:
        print(f" - {tipo}")
    
    tipo_seleccionado = input("üß≠ Introduce el tipo de ruta que deseas: ").strip().capitalize()

    while tipo_seleccionado not in tipos_disponibles:
        print("‚ùå Tipo no v√°lido. Por favor, elige entre:", ", ".join(tipos_disponibles))
        tipo_seleccionado = input("üß≠ Introduce el tipo de ruta que deseas: ").strip().capitalize()

    # Paso 2: Duraci√≥n m√≠nima y m√°xima
    try:
        duracion_min = float(input("‚è≥ Duraci√≥n m√≠nima en horas: "))
        duracion_max = float(input("‚è∞ Duraci√≥n m√°xima en horas: "))
    except ValueError:
        print("‚ùå Por favor, introduce n√∫meros v√°lidos para la duraci√≥n.")
        return None

    # Paso 3: Filtrar el dataset
    filtradas = df_rutas[
        (df_rutas['tipo_ruta'] == tipo_seleccionado) &
        (df_rutas['duracion_hr'] >= duracion_min) &
        (df_rutas['duracion_hr'] <= duracion_max)
    ].reset_index(drop=True)
    
    filtradas = filtradas.sort_values(by='popularidad', ascending=False)
    filtradas.reset_index(drop=True, inplace=True)

    # Resultado
    print(f"\n‚úÖ Se encontraron {len(filtradas)} rutas que coinciden con tus preferencias.\n")
    return filtradas

In [20]:
# Ejecuta la funci√≥n
rutas_filtradas = filtrar_rutas(rutas_turisticas)

# Ver resultados
if rutas_filtradas is not None:
    display(rutas_filtradas)

Tipos de ruta disponibles:
 - Aventura
 - Gastron√≥mica
 - Hist√≥rica
 - Cultural
 - Ecol√≥gica
‚ùå Tipo no v√°lido. Por favor, elige entre: Aventura, Gastron√≥mica, Hist√≥rica, Cultural, Ecol√≥gica

‚úÖ Se encontraron 2 rutas que coinciden con tus preferencias.

      ruta_nombre  tipo_ruta  longitud_km  duracion_hr  popularidad
0  Apollo Heights  Ecol√≥gica         61.6          4.2          4.8
1    Alletra City  Ecol√≥gica         25.0          3.0          4.4